        @font-face {
            font-family: logo_font;
            src: url(../fonts/Ara-Hamah-AlThawra.ttf);
        }
        
        @font-face {
            font-family: segoeuil;
            src: url(../fonts/segoeuil.ttf);
        }
        
        @font-face {
            font-family: segoeui;
            src: url(../fonts/segoeui.ttf);
        }
        
        @font-face {
            font-family: segoeuib;
            src: url(../fonts/segoeuib.ttf);
        }
        
        body {
            font-family: segoeui;
        }
        
        
        .login-box {
            margin: 10px auto;
            max-width: 450px;
        }
        
        .login-box .card-title {
            color: #000;
            letter-spacing: 0;
        }
        
        .login-box .sign-in {
            letter-spacing: 0;
        }